<h1>Log in with your LGTM account</h1>
<form>
  <mat-form-field class="example-full-width  mt-5">
    <input matInput placeholder="Email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width mt-3">
    <input matInput placeholder="Password">
  </mat-form-field>
  <div class="row mt-3">
    <div class="col-sm-8">
        <div class="disclaimer-links">
          <ul class="list-inline">
            <li><a class="forgot-password" href="#">I forgot my password.</a></li>
            <li><a class="register-password" href="/register">Not an LGTM user? Register.</a></li>
          </ul>
        </div>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </div>
</form>