//Fonts
@font-face {
    font-family: 'Moderat';
    src: url("styles/fonts/moderat-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: 'lato-reg';
    src: url("styles/fonts/lato-v14-latin-ext_latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'lato-bold';
    src: url("styles/fonts/lato-v14-latin-ext_latin-700.woff2") format("woff2");
}

