//Global 
body {
    font-family: lato-reg;
    font-weight: normal;
    background: $background; 
}

html {
    font-size: 14px;
}

h1, h2 {
    color: $primary;
    display: block;
    text-align: center;
    line-height: 1.2;
    white-space: normal;
    font-family: Moderat;
}

h1 {
    font-size: 1.3rem; 
}

h2 {
    font-size: 1.1rem; 
}

a {
    color: $light-text;

    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}