$primary: #2f1695;
$secondary: #1cd777; 
$background: #F9F9FF;
$light-text: #a098c0;
$error: #f76c6c;
$selectedField: #241172;
$unselected: #949494;

$breakpoint-mobile: 767px; 
$breakpoint-tablet: 768px;
$breakpoint-desktopmd: 992px;
$breakpoint-desktoplg: 1200px;

